@(email: Email, compact: Boolean)

<span class="fieldLabel">subject:</span> @email.subject,
<span class="fieldLabel">from:</span> @email.from
<br>
<br>
@for(body <- email.body) {
    @body match {
        case inline: InlineEmailBody if inline.mimeType.equals("text/plain") => {
            <pre>
@inline.content
            </pre>
        }
        case attachmentB: Attachment => {
            @attachment(attachmentB, compact)
        }
        case _ => {}
    }
}
<div style="clear : both"></div>