@(results: List[Event])

@import models.Event

<div id="files">
    <ul id="fileList">
    @for(event <- results) {
        <li>
            <div class="title">
                <span class="emphasize">
                    @event.eventType
                </span>
                <span>
                    <a class="filename" href="@event.link">@event.title</a>, @event.sortDate
                </span>
            </div>
            <div class="loadable" href="@event.link">
                <a class="" href="@event.link">@event.title</a>
            </div>
        </li>
    }
    </ul>
</div>


