@(results: List[Event], email: String)

    @import models.Event

    <div class="events">
    @results.size match {
        case 0 => {
            <ul class="eventList">
                <li class="emptyMessage">Your work here</li>
            </ul>
        }
        case _ => {
            <ul class="eventList">
            @for(event <- results) {
                <li id="@event.id" @if(event.sortDate.getTime > System.currentTimeMillis) {
                    class="future"
                    }
                >
                <div class="defaultTag @(event.tag match {
                    case Some(name) => "tag_" + name;
                    case None => ""
                })">
                    <span class="dateCategory">@event.dateCategory</span>
                    <div class="title">
                        @event.sortDate.format("HH:mm")
                    <span class="eventType @event.eventType">
                    @event.eventType
                    </span>
                        @event.title match {
                            case Some(title) => {
                                <a class="eventTitle" href="@event.link.getOrElse("")">
                                @title
                                </a>
                            }
                            case None => {}
                        }
                        @event.withOthers(email).isEmpty match {
                            case false => {
                                with
                                @for(email <- event.withOthers(email)) {
                                    <a href="/@email">@email</a>
                                }
                            }
                            case _ => {}
                        }
                        @event.tag match {
                            case Some(name) => {
                                <span class="tag">@name</span>
                            }
                            case None => {}
                        }
                    </div>
                    @event.link match {
                        case Some(link) => {
                            <div class="body loadable" href="@event.link/wrapper">
                                <a class="" href="@event.link">@event.title</a>
                            </div>
                        }
                        case None => {
                            @event.content match {
                                case Some(message) => {
                                    <div class="body">
                                        <pre class="message">@message</pre>
                                    </div>
                                }
                                case None => {}
                            }
                        }
                    }

                </div>
                <div class="comments">
                    <ul>
                    @for(aComment <- event.comments.getOrElse(Array())) {
                        @comment(aComment.dateCategory, aComment.createDate, aComment.email, aComment.content)
                    }</ul>
                    <textarea placeholder="Write a comment" name="body"></textarea>
                    <span class="controls">ctrl+Enter or <button>Post</button></span>
                    <div class="clear"></div>
                </div>
                </li>
            }
            </ul>
        }
    }
    </div>

