@(results: List[reactivemongo.api.gridfs.ReadFile[reactivemongo.bson.BSONValue]])

@import controllers.FilesController
@import reactivemongo.bson.BSONDateTime
@import java.util.Date

<div id="files">
    <ul id="fileList">
    @for(file <- results) {
        <li>
            <a class="loadable" href="/files/@FilesController.fileIdFileName(file)">@file.filename</a>
            <div class="title">
                <span class="emphasize">
                        file:
                </span>
                <span>
                    @file.filename, @(new Date(file.metadata.getAs[BSONDateTime]("lastModified").get.value))
                </span>
            </div>
        </li>
    }
    </ul>
</div>


